@import '../../settings';

.navbar-app {
    background-color: $navbar-app-bg-color;
    height: $navbar-app-height;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-left: $gap;
}